html {
  @apply text-base; }

body {
  @apply bg-body font-primary font-normal leading-relaxed text-dark; }

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-primary font-bold leading-tight text-text; }

h1,
.h1 {
  @apply font-primary text-h1-sm md:text-h1;
  @apply text-text; }

h2,
.h2 {
  @apply text-h2-sm md:text-h2; }

h3,
.h3 {
  @apply text-h3-sm md:text-h3; }

h4,
.h4 {
  @apply text-h4; }

h5,
.h5 {
  @apply text-h5; }

h6,
.h6 {
  @apply text-h6; }

code {
  @apply before:hidden after:hidden;
  color: #e83e8c !important; }

.profileTitle {
  @apply text-sky-800; }

#haWidget {
  @apply w-full sm:w-full overscroll-none;
  height: 1200px; }

#haWidgetMobile {
  height: 500px; }

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  height: 15px;
  background: lightgray;
  outline: none;
  opacity: 0.9;
  transition: opacity .2s; }

.slider:hover {
  opacity: 1; }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  background: #2B4A6F;
  border: 4px solid white;
  border-radius: 50%;
  cursor: pointer; }

.slider::-moz-range-thumb {
  width: 35px;
  height: 35px;
  background: #2B4A6F;
  border: 4px solid white;
  border-radius: 50%;
  cursor: pointer; }

.hidden {
  display: none; }

.visible {
  display: block; }

.toggle-button {
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer; }

@media (max-width: 425px) {
  #haWidget {
    height: 220vh; } }

@media (max-width: 375px) {
  #haWidget {
    height: 240vh; } }

@media (max-width: 320px) {
  #haWidget {
    height: 260vh; } }

