.btn {
  @apply inline-block font-primary font-bold border px-7 py-[17px] leading-[18px] transition; }

.btn-primary {
  @apply bg-secondary text-white border-transparent z-[1]  rounded-[30px] relative hover:shadow-[0_12px_24px_-6px_rgba(45,67,121,.1)] transition-all; }
  .btn-primary:after {
    @apply w-full h-full rounded-[30px] absolute left-1/2 top-1/2 translate-x-[-50%]  translate-y-[-50%] content-[''] bg-secondary transition-all duration-300 ease-in-out -z-[1]; }
  .btn-primary:hover::after {
    @apply w-[110%] h-[110%]; }

.btn-secondary {
  @apply bg-primary text-white border-transparent z-[1]  rounded-[30px] relative hover:shadow-[0_12px_24px_-6px_rgba(45,67,121,.1)] transition-all; }
  .btn-secondary:after {
    @apply w-full h-full rounded-[30px] absolute left-1/2 top-1/2 translate-x-[-50%]  translate-y-[-50%] content-[''] bg-primary transition-all duration-300 ease-in-out -z-[1]; }
  .btn-secondary:hover::after {
    @apply w-[110%] h-[110%]; }

.btn-primary-cancel {
  @apply bg-cancel text-white border-transparent z-[1]  rounded-[30px] relative hover:shadow-[0_12px_24px_-6px_rgba(45,67,121,.1)] transition-all; }
  .btn-primary-cancel:after {
    @apply w-full h-full rounded-[30px] absolute left-1/2 top-1/2 translate-x-[-50%]  translate-y-[-50%] content-[''] bg-cancel transition-all duration-300 ease-in-out -z-[1]; }
  .btn-primary-cancel:hover::after {
    @apply w-[110%] h-[110%]; }

.btn-outline-primary {
  @apply relative text-text border-0 bg-transparent rounded-[30px] hover:border-transparent hover:text-primary; }
  .btn-outline-primary:after {
    @apply w-full h-full rounded-[30px] absolute left-1/2 top-1/2 translate-x-[-50%]  translate-y-[-50%] content-[''] bg-transparent border border-primary transition-all duration-300 ease-in-out z-[0]; }
  .btn-outline-primary:hover::after {
    @apply w-[110%] h-[110%]; }

.btn-not-allowed {
  @apply bg-slate-200 text-white border-transparent z-[1]  rounded-[30px] relative transition-all; }
  .btn-not-allowed:after {
    @apply w-full h-full rounded-[30px] absolute left-1/2 top-1/2 translate-x-[-50%]  translate-y-[-50%] content-[''] bg-slate-200 transition-all duration-300 ease-in-out -z-[1]; }

