.header {
  @apply bg-white py-[14px] px-4 md:px-0 md:py-[9px]; }

.navbar {
  @apply relative flex flex-wrap items-center justify-between; }

.navbar-brand {
  @apply text-xl font-semibold text-dark; }
  .navbar-brand image {
    @apply max-h-full max-w-full; }

.navbar-nav {
  @apply text-center md:text-left; }

#nav-menu {
  @apply w-full overflow-hidden md:max-h-full md:w-auto; }

.nav-item {
  @apply lg:mx-3; }
  .nav-item select:focus {
    box-shadow: none; }

.nav-link {
  @apply py-3 px-2 font-primary text-base font-bold text-text transition hover:text-primary md:py-4 lg:px-3; }
  .nav-link--active {
    @apply text-primary; }

