b,
strong {
  @apply font-semibold; }

.shadow {
  @apply shadow-[0_12px_24px_-6px_rgba(45,67,121,0.1)]; }

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate; }

@keyframes skeleton-loading {
  0% {
    background-color: #c2cfd6; }
  100% {
    background-color: #f0f3f5; } }
  .skeleton-text {
    width: 50%;
    height: 1.875rem;
    line-height: 2.25rem;
    border-radius: 0.5rem; }
    .skeleton-text__body {
      width: 75%; }

